services:

  app:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DJANGO_PROJECT_DATABASES: '{"default":{"HOST":"db"}}'
      DJANGO_PROJECT_LOCAL_SETTINGS_PATH: 'local/settings.prod.py'
    volumes:
    - info_logs:/opt/project/logs/


  db:
    image: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgresql-data:/var/lib/postgresql/data

volumes:
  postgresql-data:
    driver: local
  info_logs:
    name: info_logs
